<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Bootcamp SQA/JCTestDay18">
        <classes>
            <class name="com.stepdefinitions.TestAddCart">
                <methods>
                    <include name="testLoginValid"/>
                </methods>
            </class>
            <class name="com.stepdefinitions.TestLogin">
                <methods>
                    <include name="testLoginValid"/>
                    <include name="testLoginInvalidUsername"/>
                    <include name="testLoginInvalidPassword"/>
                    <include name="testLoginInvalidUsernameNull"/>
                    <include name="testLoginInvalidPasswordNull"/>
                    <include name="testLoginInvalidUsernamePasswordNull"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>